<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.booking.mapper.ProductBatchMapper">

    <select id="selectByProductId" resultType="com.cinema.booking.entity.ProductBatch">
        SELECT * FROM product_batches
        WHERE product_id = #{productId} AND status = 1
        LIMIT 1
    </select>

    <select id="selectByBatchNo" resultType="com.cinema.booking.entity.ProductBatch">
        SELECT * FROM product_batches
        WHERE batch_no = #{batchNo} AND status = 1
        LIMIT 1
    </select>

</mapper>
